absl-py==2.5.0
annotated-types==0.8.0
array-api-compat==1.15.0
jaxtyping==0.2.38
kditransform==1.2.0
llvmlite==0.50.0
numba==0.68.0
pydantic==2.13.5
pydantic_core==2.46.5
pyvinecopulib==1.0.0
typeguard==2.13.3
typing-inspection==0.4.4
typing_extensions==4.16.0
